* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Header */
header{
    height:50px;
    background-color:#3e60b4;
    color:white;
    font-weight:bold;
    display: flex;
    align-items:center;
    justify-content:center;
    text-align:center;
}
body {
    background: 
        linear-gradient(to bottom, rgba(255,255,255,0) 60%, #4caf50 100%),
        url("../ImageAssets/background.png") no-repeat center top;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}


.titleText {
    font-size: 50px;
    color: #3e60b4;
    font-weight: bold;
    margin: auto;
    text-shadow:0px 0px 5px white;
}

.titleBox {
    margin: auto;
    padding: 10px;
    justify-content: center;
    text-align: center;
}

.searchContainer {
    text-align: center;
    margin: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.inputWrapper {
    position: relative;
    width: 300px; 
}

#searchBar {
    width: 100%;
    padding: 8px;
    font-size: 18px;
}

.suggestionsBox {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    width: 100%;
    top: 100%; 
    z-index: 10;
    text-align: left;
    max-height: 150px;
    overflow-y: auto;
    box-sizing: border-box;
}

.suggestionItem {
    padding: 8px 12px;
    cursor: pointer;
}

.suggestionItem:hover {
    background-color: #eee;
}

.graphBox {
    background-color: #f0c209;
    margin: 10px auto;
    width: fit-content;
    max-width: 1000px;
    padding: 15px;
    border-radius:20px;
}

.graphData {
    height: 700px;  
    width: 900px;   
    background-color: white;
    padding: 10px;
}
.dynamaxSection {
    margin-top: 30px;
    text-align: center;
}

.defenseSelector {
    margin-bottom: 10px;
    font-size: 18px;
}

#dynamaxChart {
    max-width: 900px;
    margin: 0 auto;
}
.dynamaxNote {
    text-align: center;
    font-size: 16px;
    margin: 10px 0;
    color: #333;
}
.toggleButtons {
    text-align: center;
    margin-bottom: 10px;
}

.toggleButtons button {
    padding: 8px 16px;
    margin: 0 5px;
    font-size: 16px;
    cursor: pointer;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.toggleButtons .activeMode {
    background-color: #3e60b4;
    color: white;
    font-weight: bold;
}
canvas {
    width: 100% !important;
    height: 100% !important;
}
.gmaxToggle {
    text-align: center;
    margin-bottom: 10px;
}

.gmaxToggle button {
    padding: 6px 14px;
    margin: 0 5px;
    font-size: 15px;
    cursor: pointer;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.gmaxToggle .activeMode {
    background-color: #930b5b;
    color: white;
    font-weight: bold;
}




